<style>
  .red{
    color: #FF0000;
  }
</style>
<p class='red'>You have received a message from <%= @from %>.</p>
<p><%= @message %></p>


<p style='color:#FF0000;'>You have received a message from <%= @from %>.</p>
<p><%= @message %></p>
